<!-- newA.html.erb -->

<%= form_with(model: @seating, url: seatings_path, method: :post) do |form| %>
  <table>
    <thead>
      <tr>
        <th></th>
        <% ('A'..'F').each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (1..6).each do |row| %>
        <tr>
          <td><%= row %></td>
          <% ('A'..'F').each do |column| %>
            <td>
              <%= form.fields_for :students, @seating.students.find_or_initialize_by(table_code: column, position_code: row) do |student_fields| %>
                <%= student_fields.hidden_field :table_code, value: column %>
                <%= student_fields.hidden_field :position_code, value: row %>
                <%= student_fields.text_field :name, placeholder: 'Enter name' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= form.submit 'Submit' %>
<% end %>
