
<div class="select-main">

  
  <div class="select-inner">
    
      <div class="select-image">
          <%= link_to new_seating_path(pattern: 'A'), class: "seat-link" do %>
            <%= image_tag("seatA.png", class: "seat-image") %>
            <div class="select-text">Max Guest 36</div>
          <% end %>

          <%= link_to new_seating_path(pattern: 'B'), class: "seat-link" do %>
            <%= image_tag("seatB.png", class: "seat-image") %>
            <div class="select-text">Max Guest 49</div>
          <% end %>

          <%= link_to new_seating_path(pattern: 'C') ,class: "seat-link" do %>
            <%= image_tag("seatC.png", class: "seat-image") %>
            <div class="select-text">Max Guest 64</div>
          <% end %>
      </div>
  </div>
</div>